onnxruntime-qnn==1.22.0
qai_hub_models[stable-diffusion-v2-1-quantized]==0.29
# torch==2.4.1

# Core numerical + image stack
numpy>=1.23
Pillow>=9.0

# Hugging Face ecosystem
transformers>=4.30
diffusers>=0.20
accelerate>=0.20  # usually needed with diffusers

# open AI
openai

# PySide GUI
PySide6==6.9.1

# API, env management
python-dotenv

# tts
pyttsx3==2.99